fastapi==0.115.12
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
python-multipart==0.0.20
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchvision==0.20.1+cpu
fastai==2.7.19
fasttransform==0.0.2
ipython==8.37.0
Pillow==11.1.0
